@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:b');

$white: #fff;
$blue: #2d48b7;
$black: #0f0d05;
$gray: #f0f0f0;
$dark-gray: #777;
$link: #253577;

$body-font: 'Open Sans', sans-serif;
$title-font: 'Raleway', cursive;

